docs/

# dependencies
node_modules/

# build artifacts
dist/
*.tsbuildinfo

# terraform
.terraform/
.build/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
!*.tfvars.example
backend*.hcl
!backend*.hcl.example
*.tfplan
crash.log
crash.*.log

# secrets / keys
*.pem
private_key*
public_key*

# local
.env
.env.*
!.env.example
.envrc
.DS_Store
